.appWrapper {
    height: 100vh;
    min-width: 550px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.appTitle {
    font-size: 2.75rem;
    margin: 1rem 0.25rem;
}

.mainContainer {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.subItemsBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem
}

@media (max-width: 1024px) {
    .appTitle {
        font-size: 2.25rem;
        margin: 1rem 0.25rem;
    }

    .mainContainer {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
}